<footer class="footer">
    <div class="contact">
        <div class="item__contact">
            <i class='bx bx-copyright contact__icon'></i>
            <h3 class="contact__title">copyright 2023</h3>
        </div>
        <div class="item__contact">
            <i class='bx bx-mail-send contact__icon'></i>
            <h3 class="contact__title">loopstudios@gmail.com</h3>
        </div>
        <div class="item__contact">
            <i class='bx bxs-edit-location contact__icon'></i>
            <h3 class="contact__title">Popayán-Colombia</h3>
        </div>
        <div class="item__contact item__contact--red">
            <i class='bx bxs-chat contact__icon'></i>
            <a href="" class="link-footer"><h3 class="contact__title">Contacta ahora</h3></a>
        </div>
    </div>
</footer>

