<div  class="cont-form" id="formCrear" [ngStyle]="mostrarFormulario ? { display: 'flex' } : { display: 'none' }"> 
    <!--se ejecute cuando enviamos form (ngsubmit)-->
    <form  method="post"  (ngSubmit)="agregar()">
        <h1>Crear Artista</h1>
        <i class='bx bx-exit salir' id="salir"></i>
        <div>
            <label for="name">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required class="form-control" autofocus  [(ngModel)]="nombre">
            <label for="mail">Genero:</label>
            <input type="text" id="genero" name="genero" required class="form-control" autofocus  [(ngModel)]="genero">
            <label for="bio">Descripción:</label>
            <textarea rows="2" id="descripcion" name="descripcion" required onclick="" class="form-control"  [(ngModel)]="descripcion"></textarea>
        </div>
        <button   type="submit">Guardar</button>
    </form>
</div>
