    <!-- para pasar infromacion de un componente a otro
     debo referenciar a propìedad de entrada  [artista]="artista" -->
<div class="container">
    <h2 class="subtitle">Artistas<span class="point">.</span></h2>
    <p class="copy__section">Aquí podrás gestionar los artistas</p>
    <a href="#" class="cta crearBoton" id="crearBoton">Crear Artista</a>
</div>
    <table class="tabla-borde">
        <thead class="tabla-borde">
        <tr class="tabla-borde">
            <th>Nombre</th>
            <th>Genero</th>
            <th>Descripcion</th>
            <th>Creado el:</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody class="tabla-borde">
        <tr class="tabla-borde">
            <app-artista 
                *ngFor="let artista of artistas" 
                [artista]="artista"
                (editarArtista)="editarArtista($event)"
                (eliminarArtista)="eliminarArtista($event)">  <!--event contiene a celular-->
            </app-artista>
        </tr>
    </tbody>            
</table>    
    

